.secao-texto {
    color: brown;
    border: solid 1px black;
    font-weight: bold;
    font-size: 1rem;
}

p {
    border: inherit;
    color: initial;
    font-size: initial;
}

h2 {
    border: inherit;
}

button {
    color: inherit;
    font-weight: inherit;
}